<br />
<br />

<div class="container noprint">
    <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">
                  Time Table Managment System
                </h5>
                <p class="grey-text text-lighten-4">
                  This Web app was made using Python(<a class="grey-text text-lighten-3" href="https://docs.djangoproject.com/">Django</a>) and SQL for Database Managment
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/vini7148">Github Profile</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/vinayak-goswami-9bba221a2/">Linkedin Profile</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/vini7148">Source Code</a></li>
                  <li><a class="grey-text text-lighten-3" href="mailto:vinayakg.co18@nsut.ac.in">Contact Me</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              &copy; {{ year }}  <!-- Made by Vinayak -->
            </div>
          </div>
        </footer>
    </div>

<!--            © {{ year }}  - Made by Vinayak               -->